.swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #tro-1:hover{
    
     background-size: cover;
     background-position: center;
     
  }


  
nav>ul>li{
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
  text-transform: capitalize;
}
.contner{
  background: rgba(226, 223, 223, 0.982);


  
}
nav>ul>li:hover{
  border-bottom: 1px solid black;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  color: black;
}



.megamenu li a {
  color: rgb(85, 80, 80);
 
}

.megamenu{
background-color: white;
  position: absolute;
  width: 100%;
  top: 80%;
  height: fit-content;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
  left: 0px;
 border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 2;
  
}

nav ul li:hover .megamenu{
  
  opacity: 1  ;
  visibility: visible;
  top: 100%;
  box-shadow: 1px 1px 12px   gray;
  
}